{% extends "./base.html" %}
{% block content %}
    <h1 class="fw-black text-pink text-center mt-8">Explore by Genre</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="menu-flow my-6 mx-auto">
                <div class="menu-element">
                    {{ form.genre }}
                </div>
                <div class="menu-element ms-lg-4">
                    {{ form.rank_type }}
                </div>
                <div class="menu-element ms-lg-4">
                    {{ form.num_movies }}
                </div>
            </div>
            <input class="menu-flow mx-auto btn btn-md py-btn-y rounded-pill button-gradient text-dark mt-5" type="submit" value=" EXPLORE ">
        </form>
{% endblock content %}