{% extends "./base.html" %}
{% block content %}
    <h1 class="fw-black text-pink">Look for Similar Movies</h1>
    <div class="input-group">
        <form action="" method="GET">
            <div class="form-outline">
                <input type="search" id="search-bar" class="form-control" placeholder="Search" name="movie_name"/>
            </div>
            <button type="submit" class="btn btn-secondary">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
    {% if search_results %}
            {% for movie in search_results %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="h4 fw-bolder card-title input-underline" type="submit" name="movie_selection" value="{{ movie.title }}">
                    <input class="h4 fw-bolder card-title input-underline" type="hidden" name="movie_selection" value="{{ movie.id }}">
                    <p class="text-mint fw-normal">Release Date: {{ movie.release_date }}</p>
                </form>
            {% endfor %}
    {% endif %}
{% endblock content %}