{% extends "./base.html" %}
{% block content %}
    <h1 class="fw-black text-pink text-center mt-8">Search by<br>Similar Movies</h1>
    <div class="input-group">
        <form action="" method="GET" class="mx-auto">
            <div class="form-outline menu-flow mt-4 mb-5">
                <input type="search" id="search-bar" class="menu-element form-control" style="width: 150%;" placeholder="Enter Movie Name" name="movie_name"/>
                <button type="submit" class="btn btn-secondary menu-element ms-lg-1" style="background-color: #CEEDF6;">
                    <i class="bi bi-search text-dark"></i>
                </button>
            </div>
        </form>
    </div>
    {% if search_results %}
        <div class="mx-auto">
            {% for movie in search_results %}
                <div class="movie-card rounded-pill mt-4 text-center" style="min-width: fit-content; width:50%;">
                    <form action="" method="POST" class="my-3">
                        {% csrf_token %}
                        <input class="h4 fw-bolder text-mint input-underline text-center" type="submit" name="movie_name" value="{{ movie.title }}">
                        <input class="h4 fw-bolder text-mint input-underline text-center" type="hidden" name="movie_selection" value="{{ movie.id }}">
                        <p class="text-mint fw-normal">Release Date: {{ movie.release_date }}</p>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}