.DS_Store
/rec_app_base/movies/data
/rec_app_base/movies/__pycache__
/rec_app_base/movies/migrations
/rec_app_base/movies/templates/movies/posters
/rec_app_base/rec_app_base/__pycache__
/rec_app_base/movies/assets
/rec_app_base/movies/config
/rec_app_base/movies/templates/movies/css
/rec_app_base/movies/templates/movies/js
/rec_app_base/db.sqlite3
/rec_app_base/movies/templates/movies/static/assets
